@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter,Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #approot {
  height: 100%;
}